<div class="hero">
    <div class="hero-text">
        <h1>Carbon Savings Flow</h1>
        <span>UX Writing</span>
    </div>
</div>

<main>
    <section class="project-overview">
        <h4>Project Overview</h4>
        <div>
            <span class="role"><span>Role:</span> UX Writer.</span>
            <span class="role"><span>Client:</span> Carbon MFB.</span>
            <span class="role"><span>Stakeholders:</span> Product Designer, Product Managers, Scrum Team, and Compliances.</span>
        </div>
        <p>
            This is one of my very firsts when it comes to In-App UX Writing. So, in the later parts of this project, I have highlighted some things I would have done differently if I did this same work today.
        </p>
    </section>
    <section>
        <h4>Problem</h4>
        <p>
            Carbon was previously a lending app that is transitioning into a fully digital bank. Part of its offerings include high-interest savings. The major challenge for this project, however, was that the previous Savings flow wasn't clear to the user, causing low creation of savings plans on the app. Many users also had doubts about using the app. <br>
            My role as the designated UX writer on the project involved creating a microcopy flow that ensured users got an onboarding experience that was easy to understand and transparent, especially since investments in the country can be usually frowned upon due to the many scam stories around.
        </p>
        <img src="../../../assets/images/problem.png" alt="">
        <span class="caption">Old Savings Flow</span>
        <p>
            For the messaging in the entire flow, I ensured they were as informative as possible and actionable, making it straightforward for the user to save money in record time.
        </p>
    </section>
    <section class="process-div">
        <div class="process">
            <h4>UX Writing Process</h4>
            <ul>
                <li>I joined user research sessions with the designers on the project.</li>
                <li>I painstakingly looked at what competitors were doing regards retail savings.</li>
                <li>Outlined the flow of information.</li>
            </ul>
        </div>
        <h5>Creating a new flow for the savings plan</h5>
        <img src="../../../assets/images/flow.png" alt="">
        <span class="caption">Flow for when a customer creates a Savings plan</span>
        <p>
            Now, I’ll explain how I approached the UX writing for each of the screens in the flow above. There are 6 screens in total.
        </p>
        <img src="../../../assets/images/flow0.png" alt="">
        <p>
            In the previous flow, there was no context given to the customer to let them know there’s a minimum amount they can save. It only appeared after the customer had entered an amount below the threshold. To save the customer time and enable a more seamless process, in the second screen of the new flow, I used a hint to inform the customer that there’s a minimum amount they can save on the Carbon app. <br>
            We also ensured that it was clear that users can choose to lock plans or not. One of the feedback from research exercises was complaints about not being able to access funds when in fact they had locked their funds till a certain date.
        </p>
        <img src="../../../assets/images/flow1.png" alt="">
        <p>
            The 5th screen above shows all the details of their investment so that they are well informed. <br>
            (In retrospect, I would not rely on just this screen since it disappears once the customer leaves the page. I would add an email in this flow that is triggered once the customer clicks on “Create Cash Vault. This is so that the user can reference it anytime).
        </p>
    </section>
    <section>
        <article>
            <h5>Creating a new flow for pausing a Savings Plan</h5>
            <img src="../../../assets/images/new-flow.png" alt="">
            <span class="caption">Flow for when a customer pauses a Savings plan</span>
            <p>
                Users requested the ability to temporarily pause saving when they can't continue, without stopping altogether. I helped create the text for the screens that implement this feature, including explanations of the consequences of pausing, such as not earning interest during the pause.
            </p>
        </article>
        <article class="modal-screen">
            <h5>For the modal in the 4th screen</h5>
            <img src="../../../assets/images/new-flow0.png" alt="">
            <p>
                In retrospect, I won't use the word 'liquidate' in the copy as it may be too technical for some set of customers. I'd replace it with one of "Cancel Savings" or "Withdraw your savings" as they're more direct and easier to interpret.
            </p>
        </article>
        <article class="modal-screen">
            <h5>For the modal in the 1st screen</h5>
            <img src="../../../assets/images/new-flow1.png" alt="">
            <p>
                In retrospect, I would reduce the text in the pop-up on the first screen and write something like "You will be unable to earn interest on this plan until you resume again." CTA: "Yes, pause my savings". <br>
                It's shorter and less scary. I need to also respect that the saver knows what they're doing.
            </p>
        </article>
    </section>
    <section>
        <h4>Outcome</h4>
        <span>Reduction in savings-related customer support queries</span>
        <p>
            As a result of having a more understandable UX flow, the customer experience team saw fewer calls and messages related to savings.
        </p>
        <span>Increase in turnover</span>
        <p>
            Previously, the team had been doing an average of N500 million in savings monthly. When we launched the new flow, the following month saw us do N700 million and in the following month, almost a N1 billion in savings.
        </p>

        <div class="next">
            <a routerLink="/disha">Next: Disha Website</a>
        </div>
    </section>
</main>