<div class="hero">
    <div class="hero-text">
        <h1>Send App Verification</h1>
        <span>Content Design</span>
    </div>
</div>

<main>
    <section>
        <article class="scope">
            <h4>Scope</h4>
            <p>
                As a cross-border payment product, Send requires a certain level of KYC checks as part of anti-fraud setups and government regulations. However, oftentimes, users find it difficult to complete this verification process due to the technicalities arising from expected actions like live image capture.
            </p>
            <span class="role"><span>Role:</span> Content Design.</span>
        </article>
        <article class="fix">
            <h4>Expected Fix</h4>
            <p>
                Working on these two projects, I was tasked with making it easier for users to complete their KYC verification process with little or no help from the Customer Support team, thereby reducing the number of incomplete KYC checks and successful onboarding on both apps.
            </p>
        </article>
        <article class="fix-one">
            <h4>First fix - introducing the user to requirements early on</h4>
            <p>
                In the onboarding flow, users are meant to provide basic personal details first before moving on to the third-party platform for verification. To prepare them properly, as soon as they were done with the basics, I ensured that the first screen afterward told them exactly what they needed to complete the verification – a government-issued ID.
            </p>
            <img src="../../../assets/images/verify.png" alt="">
        </article>
    </section>
    <section>
        <article class="fix-two">
            <h4>Second fix – creating a checklist for users</h4>
            <p>
                While in the earlier version, we had agreed on a checklist in the second page, the placeholder copy by the designer here wasn’t exactly clear or helpful to the user. Took feedback from the PM and made a new checklist for the user as shown in the screenshot below.
            </p>
            <div class="c-b">
                <img src="../../../assets/images/checklist_before.png" alt="">
                <span class="caption">Before</span>
            </div>
            <div class="c-a">
                <img src="../../../assets/images/checklist_after.png" alt="">
                <span class="caption">After</span>
            </div>
        </article>
    </section>
    <section>
        <article class="fix-three">
            <h4>Third fix – briefly educate the users to increase verification success rates</h4>
            <p>
                One of the major issues we realized while taking feedback from the Customer Experience team was that a lot of users: <br>
                <span>1. </span>Did not know how to take correct images <br>
                <span>2. </span>Used expired or damaged IDs <br>
                <span>3. </span>Submitted ID types that were not acceptable on the platform. <br>
                To enable them to take the right actions while taking pictures or uploading IDs, I suggested slides within the verification flow that clearly mentioned how to do the right thing. This would educate the user about the process in real-time, while increasing their chance of completing the process.
            </p>
            <img src="../../../assets/images/third-fix.png" alt="">
        </article>
        <article>
            <h4>Final words – making a compromise on extra screens</h4>
            <p>
                As a team, we realized that this meant additional screens in the verification flow. As the Content Designer on the team, I realized that successful KYC verification required nudging and guiding our users towards completion. So, this meant making a little compromise on extra screens if it was going to increase the chances of users successfully verifying their identity.
            </p>
        </article>

        <div class="next">
            <a routerLink="/carbon">Next: Carbon Savings Flow</a>
        </div>
    </section>
</main>