.hero {
    background-image: url(../../../assets/icons/bg.svg);
    background-color: #0D0D0D;
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-text {
    color: #ffffff;
    text-align: center;
    width: Hug (659px)px;
    height: Hug (150px)px;
    top: 200px;
    left: 390px;
    gap: 16px;
    opacity: 0px;
}
.hero-text h1 {
    font-family: Grenze;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.hero-text span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

main {
    padding: 2rem 291px;
}
h4 {
    color: #0013B2;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 1.5rem;
}
h6 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
}
p {
    color: #333333;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
img {
    width: 198.9px;
    height: 400px;
}

.scope div {
    display: grid;
    gap: .8rem;
}
.role {
    color: #202020;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.role span {
    color: #666666;
}

.caption {
    display: block;
    color: #202020;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    margin-top: 5px;
}

.next {
    width: 310px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
    margin-top: 4rem;
    margin-bottom: 5rem;
    position: relative;
    left: 65%;
}
.next a {
    color: #ffffff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
}


/* MOBILE VIEW */
/* MOBILE VIEW */
/* MOBILE VIEW */

@media only screen and (max-width: 450px) {
    .hero {
        height: 300px;
    }
    .hero-text h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .hero-text span {
        font-size: 16px;
        line-height: 24px;
    }
    h4 {
        font-size: 20px;
        line-height: 28px;
    }
    h6 {
        font-size: 15px;
        line-height: 11px;
    }
    img {
        width: 50%;
        height: auto;
    }

    main {
        padding: .5rem 1.7rem;
    }

    .role {
        font-size: 14px;
    }
    .caption {
        font-size: 14px;
    }

    .next {
        width: 214px;
        height: 48px;
        margin: 4rem auto 3rem;
        left: auto;
    }
    .next a {
        font-size: 14px;
    }
}