<div class="hero">
    <div class="hero-text">
        <h1>Cart Settings</h1>
        <span>UX Writing</span>
    </div>
</div>

<main>
    <article class="scope">
        <h4>Scope</h4>
        <p>
            By default, Flutterwave Store places products on hold for a minimum of 30 minutes after an order is initiated. This may create an illusion of items being "out of stock" if several customers have items in their cart at the same time during peak sales periods.
        </p>
        <div>
            <span class="role"><span>Product:</span> Flutterwave Store</span>
            <span class="role"><span>Project:</span>  Setting cart duration</span>
        </div>
    </article>
    <section>
        <h4>My Task</h4>
        <p>
            I was to create a banner and empty state that would enable shoppers to always know how much time we can keep items in their cart, as well as what time is remaining for an item already in a cart. So, two screens.
        </p>
        <span class="caption">First screen (empty state) - when a shopper hasn’t added anything to their cart</span>
        <img src="../../../assets/images/cart0.png" alt="">
        <p class="mt-4">
            Before now, all we did was say “Your shopping cart is empty”. <br>
            As shown in the screen above – the newly updated screen – I went further to give the shopper more context so that they know that they have an “X” number of minutes to keep an item in their cart.
        </p>
        <span class="caption">The second screen (top banner) – when a shopper has items in their cart</span>
        <img src="../../../assets/images/cart1.png" alt="">
        <p class="mt-4">
            When a shopper already has an item in their cart, I want them to see just how much time they had before an item is no longer available.
        </p>

        <div class="next">
            <a routerLink="/invision">Next: Invision App Review</a>
        </div>
    </section>
</main>
