<div class="hero">
    <div class="hero-text">
        <h1>Disha Website</h1>
        <span>UX Writing</span>
    </div>
</div>

<main>
    <article class="summary">
        <h4>Summary</h4>
        <p>
            The previous website didn’t communicate Disha’s complete USPs. Based on backend data, conversion was at its lowest, and one of the reasons was that customers didn’t fully understand the Disha product. <br>
            I was introduced to help create more helpful content and the overall website content strategy.
        </p>
        <div>
            <span class="role"><span>Role:</span> UX Writer.</span>
            <span class="role"><span>Company:</span>  Disha (a platform for creators to showcase and get paid for their digital products)</span>
            <span class="role"><span>Team:</span> The team included myself, a product designer, a product manager, and an engineer.</span>
        </div>
    </article>
    <section>
        <article>
            <h4>What i did</h4>
            <h6>Competitor Research</h6>
            <p>
                I assessed the competitive landscape for how other similar brands in the digital creator space approached their strategy, including Selar, Gumroad, Linktree, Patreon, and Podia.
            </p>
            <p>The research showed a couple of things, such as</p>
            <ul>
                <li>
                    We didn’t break down our features enough to users. For instance, creators are particular about fees. Previously, that wasn’t clear to the average creator. 
                </li>
            </ul>
            <img src="../../../assets/images/disha0.png" alt="">
            <span class="caption">Old hero section was bare and mentioned nothing about fees or pricing.</span>
            <img class="mt-5" src="../../../assets/images/disha1.png" alt="">
            <span class="caption">New hero section mentions in the subtext immediately that it is free, while the top navigation shows a Pricing link</span>

            <ul class="mt-4">
                <li>
                    There was no knowledge base for creators. We introduced an inner page to house video resources for potential Disha creators.
                </li>
            </ul>
        </article>
    </section>
    <section>
        <article class="c-h">
            <h6>Content Hierarchy</h6>
            <p>
                I worked with the UX designer to set the structure of how our content cards were going to appear to users. For instance, we determined that the “What is Disha?” tab which was bottom in the previous page be moved upwards. This was because any user visiting the website for the first time is more curious about what we were about and placing the information that far down the page wasn’t great for conversion, or helping them understand the product.
            </p>
            <img src="../../../assets/images/disha2.png" alt="">
            <span class="caption">“What is Disha?” previously at the bottom of the page</span>
            <img class="mt-4" src="../../../assets/images/disha3.png" alt="">
            <span class="caption">“What is Disha?” now appearing earlier on the page.</span>
            <p class="mt-4">
                I also used this as an opportunity to link users to the new About Us page to share more information about our commitment to the growth of the African creator economy.
            </p>
            <img src="../../../assets/images/disha4.png" alt="">
            <span class="caption">The newly added About Us page</span>
        </article>
        <article>
            <p class="mt-4">Writing more helpful content and providing context to previous ones.</p>
            <p class="mt-5">
                <span>The screens below show the old and new homepages.</span>
                <span>
                    ***
                    <a href="https://drive.google.com/file/d/18h97F9BTwt5Vu_pf6GuB8eYE5rMSJ_Ta/view?usp=drive_link">***Old homepage Video</a>
                </span>
                <span>
                    ***
                    <a href="https://drive.google.com/file/d/1rDx5kS8hltLorYcbhutcvVIBE9EodGtI/view?usp=drive_link">***New homepage Video</a>
                </span>
            </p>
            <p class="mt-5">
                <span>We also created a pricing page to show creators what is obtainable with each pricing plan.</span>
                <span>
                    ***
                    <a href="https://drive.google.com/file/d/1waOvpJ5d3N3q3XTV6x-Fg-fnxCEQ6Zzk/view?usp=drive_link">Video of pricing page</a>
                </span>
            </p>
        </article>

        <div class="next">
            <a routerLink="/cart">Next: Cart Settings</a>
        </div>
    </section>
</main>
